.card.red.lighten-1 a.title {
	color: #fff;
	font-weight: bold;
}

span.badge.date {
  font-weight: 500;
  font-size: 0.8rem;
  color: #ef5350;
  background-color: #fff;
  border-radius: 2px;
}

a.brand-logo {
	padding-left: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #ee6e73;
  font-weight: 300;
}

p {
	color: rgba(0, 0, 0, 0.8);
}