---
layout: default
---

<div class="row">
    {% if site.posts.size == 0 %}
    <h2>No post found</h2>
    {% else %}
        {% for post in site.posts %}
        <div class="col s12">
            <div class="card red lighten-1">
                <div class="card-content white-text">
                    <span class="badge date">{{ post.date | date_to_string }}</span>
                    <span class="card-title"><a href="{{ site.baseurl }}{{ post.url }}" class="title">{{ post.title }}</a></span>
                    <p>
                        {{ post.resume }}
                    </p>
                </div>
                <div class="card-action">
                <a href="{{ site.baseurl }}{{ post.url }}">Ler...</a>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>