 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Sobre</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Meu nome é Maicon Silva Pinto, 27 anos, casado, pai de duas meninas. Programador PHP, trabalho desenvolvendo sites e sistemas para web.</p>
                </div>
                <div class="col-lg-4">
                    <p>Conhecimento e experiência utilizando framework CakePHP, além de temas para Wordpress.
Utilizo Ubuntu, SublimeText, Firefox, MySQL ou Postgres, Gimp, Inkscape, Github e Bitbucket, entre outros softwares e sites para trabalhar. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download
                    </a>
                </div>
            </div>
        </div>
    </section>